@use 'sass:color';
@use 'variables';
@use 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: variables.$font-stack;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

header {
  @include mixins.box-style;
  background-color: variables.$secondary-color;
  color: #fff;
  text-align: left;
  padding: 2rem 0;
  margin-bottom: 1rem;
}

header h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out;
}

header h1:hover {
  transform: scale(1.1);
}

// Contenedor de la imagen
.image-container {
  width: 100%;
  height: auto; /* Asegúrate de que la altura sea automática */
  overflow: hidden; /* Esconde el contenido que se desborda */
}

// Estilo para la imagen de la paella
.paella-img {
  margin-top: 0;
  width: 100%;
  height: auto; /* Mantener la proporción original de la imagen */
  max-height: 400px; /* Ajusta esta altura máxima según sea necesario */
  object-fit: cover; /* Ajusta la imagen para que ocupe todo el ancho y recorta el exceso de altura */
  display: block; /* Asegura que no haya espacio en línea */
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 1rem;
}

.ingredients, .time {
  @include mixins.box-style;
  padding: 2rem;
  flex: 1;
}

.group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  input[type="checkbox"] {
    margin-right: 1rem;
  }
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.timer span {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.time-buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  button {
    padding: 0.5rem 1rem;
    background-color: variables.$primary-color;
    border: none;
    color: #fff;
    border-radius: variables.$border-radius;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: color.adjust(variables.$primary-color, $lightness: -10%);
    }
  }
}

.preparation {
  @include mixins.box-style;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.steps-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.step {
  @include mixins.box-style;
  flex: 1 1 calc(50% - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.number-box {
  background: #c4c4c4;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}

footer {
  @include mixins.box-style;
  background-color: variables.$secondary-color;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: 1rem;
}
